<!DOCTYPE html>
<html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>Poker en ligne Paris sportifs - Jouez sur Winamax !</title>
        <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="verify-v1" content="divGwlYLgkmoS558zISY8BYg1KLLvQLFmRf0CmPJ1kc="/>
    <meta name="google-site-verification" content="DB-aVdWJ00FHClrX_fsXFGgZzaYUKGVcvY7uSfOkXsw"/>
    <meta name="apple-itunes-app" content="app-id=385720307"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@winamax"/>
    <meta name="twitter:title" content="Poker en ligne & Paris sportifs - Jouez sur Winamax !"/>
    <meta name="twitter:description" content="Agréé par l’Arjel – Jouez au Poker en ligne et Pariez sur le Sport. Bénéficiez d'un Bonus sur votre 1er dépôt (jusqu'à 500€) et votre 1er pari est remboursé !"/>
    <meta name="twitter:image:src" content="https://static.winamax.fr/img/content/screenshots/1e/6d/4e/1e6d4e476ff588478e113f514138499a.jpg"/>
    <meta name="twitter:domain" content="winamax.fr"/>
    <meta name="twitter:app:id:iphone" content="id385720307"/>
    <meta name="twitter:app:country" content="fr"/>
    <meta name="description" content="Agréé par l’Arjel – Jouez au Poker en ligne et Pariez sur le Sport. Bénéficiez d'un Bonus sur votre 1er dépôt (jusqu'à 500€) et votre 1er pari est remboursé !"/>
    <meta name="keywords" content="Patrick Bruel, bruel, poker, hold'em, jouer, poker, gratuit, jouer gratuitement, tournois, table de poker, jouer au poker"/>
    <meta property="og:title" content="Poker en ligne & Paris sportifs - Jouez sur Winamax !"/>
    <meta property="og:description" content="Agréé par l’Arjel – Jouez au Poker en ligne et Pariez sur le Sport. Bénéficiez d'un Bonus sur votre 1er dépôt (jusqu'à 500€) et votre 1er pari est remboursé !"/>
    <meta property="fb:admins" content="519584907"/>
    <meta property="og:site_name" content="Winamax.fr"/>
    <meta property="og:type" content="game"/>
    <meta property="og:image" content="https://static.winamax.fr/img/content/screenshots/1e/6d/4e/1e6d4e476ff588478e113f514138499a.jpg"/>
    <meta property="og:url" content="https://www.winamax.fr/"/>
    <link rel="stylesheet" id="normalize" href="https://static.winamax.fr/style/v2/normalize.css?v=20160602-1" type="text/css" media="all"/>
    <link rel="stylesheet" id="reset" href="https://static.winamax.fr/style/v2/reset.css?v=20160602-1" type="text/css" media="all"/>
    <link rel="stylesheet" id="fontawesome" href="https://static.winamax.fr/style/v2/fontawesome.min.css?v=20160602-1" type="text/css" media="all"/>
    <link rel="stylesheet" id="magnific-popup" href="https://static.winamax.fr/style/v2/magnific-popup.css?v=20160602-1" type="text/css" media="all"/>
    <link rel="stylesheet" id="spritesheet" href="https://static.winamax.fr/style/v2/spritesheet.css?v=20160602-1" type="text/css" media="all"/>
    <link rel="stylesheet" id="common" href="https://static.winamax.fr/style/v2/common.css?v=20160602-1" type="text/css" media="all"/>
    <link rel="stylesheet" id="fancybox" href="https://static.winamax.fr/style/v2/jquery.fancybox.css?v=20160602-1" type="text/css" media="all"/>
    <link rel="stylesheet" id="doubleslider" href="https://static.winamax.fr/style/v2/doubleslider.css?v=20160602-1" type="text/css" media="all"/>
    <link rel="stylesheet" id="source-sans-pro" href="https://static.winamax.fr/style/fonts/SourceSansPro/source-sans-pro.css?v=20160602-1" type="text/css" media="all"/>
    <link rel="icon" href="https://static.winamax.fr/img/style/v2/favicon.ico" type="image/png" />
    <link rel="alternate" href="https://www.winamax.fr/" hreflang="fr" />
    <link rel="alternate" href="https://www.winamax.fr/en/" hreflang="en" />
    <link rel="alternate" href="https://www.winamax.fr/de/" hreflang="de" />
<!--     <link rel="publisher" href="https://plus.google.com/113037693593211372087" /> -->
    <link rel="canonical" href="https://www.winamax.fr/" />
<!--     <script type="text/javascript" src="https://static.winamax.fr/script/swfobject.js?v=20160602-1"></script>
    <script src="https://static.winamax.fr/script/v2/lib/modernizr.custom.js?v=20160602-1"></script> -->
    <!--[if lte IE 8]>
    <script src="https://static.winamax.fr/script/v2/lib/jquery-1.10.1.min.js?v=20160602-1"></script>
    <script src="https://static.winamax.fr/script/v2/lib/selectivizr-min.js?v=20160602-1"></script>
    <![endif]-->
<!-- <script language="Javascript" type="text/javascript" src="https://static.winamax.fr/script/messages/messages_fr.js?v=20130329"></script> -->
    </head>
    <body class="lang-fr">
<!-- Facebook -->
<div id="fb-root"></div>
<script>$fbLocalized = 'fr_FR';</script>
<div id="doc">
    <div id="inner-wrap">
<!-- <div onclick="window.open('https://www.winamax.fr/CLIC/PREVENTION/JIS_HOME/www.joueurs-info-service.fr')" id="avertissement"class="alternate"></div> -->
<header id="masthead">
    <div class="container">
        <a href="/" id="logo">
            <img src="https://static.winamax.fr/img/style/v2/common/logo.png" alt="Winamax">
            <img class="hover" src="https://static.winamax.fr/img/style/v2/common/logo-highlight.png" alt="">
        </a>
        <div class="content">
<div id="login-toggle" class="toggle"><a href="/account/login.php?redir=/"><i class="sprite user"></i></a></div>
<div id="login-container" class="expandable">
    <a href="/account/login.php?redir=/" id="login-link">Se connecter</a>
    <a href="/account/create.php" id="signup-button" class="button">S'inscrire</a>
    <div id="login-popup">
        <form id="login-form" method="post" action="/" ng-non-bindable >
            <p class="field">
                <label>Adresse email</label>
                <input type="email" name="email" id="loginbox_email" placeholder="vous@exemple.com" tabindex="1" value="">
            </p>
            <p class="field">
                <label>Mot de passe</label>
                <input type="password" id="loginbox_password" name="password" placeholder="" tabindex="2">
                <a class="forgot-password" href="/account/lost_password.php">Mot de passe oublié ?</a>
            </p>
            <p class="field birthdate">
                <label for="day-input">Date de naissance</label>
                <input type="text" id="loginbox_birthday" name="birth_day" autocomplete="off" placeholder="JJ" tabindex="3" pattern="[0-9]*" size="2" maxlength="2" value="">
                <input type="text" id="loginbox_birthmonth" name="birth_month" autocomplete="off" placeholder="MM" tabindex="4" pattern="[0-9]*" size="2" maxlength="2" value="">
                <input type="text" id="loginbox_birthyear" name="birth_year" autocomplete="off" placeholder="AAAA" tabindex="5" pattern="[0-9]*" size="4" maxlength="4" value="">
            </p>
<button type="submit" id="login-button" name="submitlogin" class="secondary-button" tabindex="6"><i class="icon-lock"></i>Connexion</button>
        </form>
        <div id="no-account">
            <a href="/account/create.php"><span>Pas encore de compte ?</span> Inscrivez-vous gratuitement</a>
        </div>
    </div>
    <div id="pin-popup">
        <form id="pin-form" class="pin-form" method="post" ng-non-bindable>
            <p class="field">
                <label>Code PIN</label>
                <input class="pincode" name="pincode" type="password" placeholder="" tabindex="1" readonly>
            </p>
            <div class="numpad">
                <div class="digit" data-value="1">1</div>
                <div class="digit" data-value="0">0</div>
                <div class="digit" data-value="9">9</div>
                <div class="digit" data-value="3">3</div>
                <div class="digit" data-value="6">6</div>
                <div class="digit" data-value=""></div>
                <div class="digit" data-value="7">7</div>
                <div class="digit" data-value="4">4</div>
                <div class="digit" data-value="2">2</div>
                <div class="digit" data-value="5">5</div>
                <div class="digit" data-value="8">8</div>
                <div class="digit" data-value="-1"><span class="sprite backspace"></span></div>
            </div>
                <a class="forgot-password" href="mailto:support@winamax.fr?subject=Code Pin oublié (pseudo )">Code pin oublié ?</a>
            <button type="submit" name="submitlogin" class="secondary-button" tabindex="1"><i class="icon-lock"></i>Connexion</button>
        </form>
    </div>
</div>
<div id="search" class="expandable" style="height:28px">
</div>
<div id="nav-toggle" class="toggle"><i class="icon-reorder"></i></div>
<nav id="main-nav">
    <ul>
<li>
    <a href="/paris-sportifs" class="highlight">Paris Sportifs</a>
</li>
<li>
    <a href="/jouer-au-poker">Jouer au Poker</a>
</li>
<li>
    <a href="/toutes-les-actus">Actu</a>
</li>
<li>
    <a href="/team-winamax_presentation">Team</a>
</li>
<li>
    <a href="/cash-game_accueil">Cash game</a>
</li>
<li>
    <a href="/les-tournois_accueil">Tournois</a>
</li>
<li>
    <a href="/l-espace-vip_introduction">VIP</a>
</li>
<li>
    <a href="/les-challenges-winamax_intro">Challenges</a>
</li>
<li>
    <a href="/poker/gunsglory/gang/create.php">Guns & Glory</a>
</li>
<li class="collapsible">
    <a href="#" class="collapsible-title">
    Plus<span class="icon-caret-down"></span>
    </a>
    <ul class="dropdown">
<li>
    <a href="/winamax-poker-open">WPO Dublin</a>
</li>
<li>
    <a href="/ecole-de-poker-evolution_accueil">School</a>
</li>
<li>
    <a href="/videos">Vidéos</a>
</li>
<li>
    <a href="/la-radio">Radio</a>
</li>
<li>
    <a href="/poker/faq.php">Aide</a>
</li>
<li>
    <a href="/partenaires">Sponsoring</a>
</li>
    </ul>
</li>
    </ul>
</nav>
        </div>
    </div>
</header>
<div id="innercontainer"><section id="page" class="homepage">
    <div id="page-content">
    <section id="carrousel-container" class="to-top">
        <div class="container">
             <div id="carrousel">
                <div id="hud">
                    <div id="previous"><i class="icon-chevron-left"></i></div>
                    <div id="next"><i class="icon-chevron-right"></i></div>
                </div>
                <div id="slides-container">
                <div id="slides">
                    <article class="slide">
                        <a href="/winamax-summer-shots"><img src="https://static.winamax.fr/img/home/carrousel/20160502_SummerShot_home_page_slider_FR.jpg" alt="info"></a>
                    </article>
                    <article class="slide">
                        <a href="/tableau"><img src="https://static.winamax.fr/img/home/carrousel/20151210_Tableau_home_page_slider_fr.jpg" alt="info"></a>
                    </article>
                    <article class="slide">
                        <a href="/cashback-progressif"><img src="https://static.winamax.fr/img/home/carrousel/CashBack_home_page_slider.jpg" alt="info"></a>
                    </article>
                    <article class="slide">
                        <a href="/team-winamax_les-defis-des-pros_summer-shot-4love"><img src="https://static.winamax.fr/img/home/carrousel/201605_aurelie_slider_home_page_fr.jpg" alt="info"></a>
                    </article>
                    </div>
                </div>
            </div>
            <ul id="carrousel-position">
                <li class="active"><span class="bullet"></span></li>
                <li><span class="bullet"></span></li>
                <li><span class="bullet"></span></li>
                <li><span class="bullet"></span></li>
            </ul>
        </div>
    </section>
<section id="top-content" class="alt padded">    <div class="container"><div class="left-column"><section id="betting-teaser">
<div class="bg" style="background-image: url(https://static.winamax.fr/img/home/betting/Tennis_Djokovic_516056834.jpg)">    <div class="shadow">        <div class="title show-for-small-only">Novak Djokovic - Dominic Thiem</div><div class="scores"><div><span id="team1-name9540531" class="team">Novak Djokovic</span><div id="team1-score9540531" class="score"><span id="server19540531" class="sport-icon-tennis-serve hidden"></span><span class="gamescore" id="gamescore19540531">40</span><span class="setscore" id="setscore1">3</span></div></div><div><span id="team2-name9540531" class="team">Dominic Thiem</span><div id="team2-score9540531" class="score"><span id="server2" class="sport-icon-tennis-serve"></span><span class="gamescore" id="gamescore29540531">40</span><span class="setscore" id="setscore2">0</span></div></div></div>        <div class="buttons">
            <div class="button">                <div class="title">>27.5</div>                <a href="https://www.winamax.fr/paris-sportifs/#!/match/9540531/14566724/51764261" class="odd-button"><div class="tooltip">Plus de 27,5 jeux</div>
1,70</a>            </div>            <div class="button">                <div class="title"><27.5</div>                <a href="https://www.winamax.fr/paris-sportifs/#!/match/9540531/14566724/51764262" class="odd-button"><div class="tooltip">Moins de 27,5 jeux</div>
1,70</a>            </div>            <div class="button">                <a href="/paris-sportifs/#!/match/prelive/9540531" class="odd-button additional">+ 23</a>            </div>        </div>    </div></div></section><br /><section id="latest-news" class="left-column">       <div>           <article class="news-item">
              <div class="image">
                 <a href="/news_gunsglory-gangs-du-tennis-des-summer-shots-et-un-record-27983"><img src="https://static.winamax.fr/img/editorial/2016/06/03/thumbnail/GANG_vignetteNEWS155x155.jpg" alt="Guns&amp;Glory Gangs : du tennis, des Summer Shots et un record"></a>
              </div>
              <div class="content">
                    <h1 class="news-title"><a href="/news_gunsglory-gangs-du-tennis-des-summer-shots-et-un-record-27983">Guns&amp;Glory Gangs : du tennis, des Summer Shots et un record</a></h1>
                    <div class="news-details">
                       <span class="date">il y a environ 2 heures.</span>
                   </div>
                   <p class="news-excerpt">La bataille continue de faire rage au sein des Gangs de Winamax. Retour sur les dernières échauffourées en date.</a> <a href="/news_gunsglory-gangs-du-tennis-des-summer-shots-et-un-record-27983" class="read-more">Lire la suite &raquo;</a>
                   </p>
                   <div class="cb"></div>
             </div>
        </article>
            <article class="news-item">
              <div class="image">
                 <a href="/news_la-taupe-des-23-a-la-rencontre-dune-legende-27986"><img src="https://static.winamax.fr/img/editorial/2016/06/03/thumbnail/2016_CM_Taupe23_vignette_news.jpg" alt="La taupe des 23 : &agrave; la rencontre d'une l&eacute;gende "></a>
              </div>
              <div class="content">
                    <h1 class="news-title"><a href="/news_la-taupe-des-23-a-la-rencontre-dune-legende-27986">La taupe des 23 : &agrave; la rencontre d'une l&eacute;gende </a></h1>
                    <div class="news-details">
                       <span class="date">il y a environ 4 heures.</span>
                   </div>
                   <p class="news-excerpt">Infiltrée dans le groupe de l'équipe de France, la taupe des 23 sait tout et entend tout. Plus rien n'aura de secret pour vous.</a> <a href="/news_la-taupe-des-23-a-la-rencontre-dune-legende-27986" class="read-more">Lire la suite &raquo;</a>
                   </p>
                   <div class="cb"></div>
             </div>
        </article>
            <article class="news-item">
              <div class="image">
                 <a href="/news_pierre-calamusa-en-direct-sur-twitch-ce-lundi-27985"><img src="https://static.winamax.fr/img/editorial/2016/06/03/thumbnail/levietfou_Streaming_vignette_news.jpg" alt="Pierre Calamusa en direct sur Twitch ce lundi"></a>
              </div>
              <div class="content">
                    <h1 class="news-title"><a href="/news_pierre-calamusa-en-direct-sur-twitch-ce-lundi-27985">Pierre Calamusa en direct sur Twitch ce lundi</a></h1>
                    <div class="news-details">
                       <span class="date">il y a environ 4 heures.</span>
                   </div>
                   <p class="news-excerpt">Regardez par dessus l'épaule du VietF0u pendant toute une soirée.</a> <a href="/news_pierre-calamusa-en-direct-sur-twitch-ce-lundi-27985" class="read-more">Lire la suite &raquo;</a>
                   </p>
                   <div class="cb"></div>
             </div>
        </article>
            <article class="news-item">
              <div class="image">
                 <a href="/news_summer-shots-les-huit-vainqueurs-de-jeudi-27984"><img src="https://static.winamax.fr/img/editorial/2016/06/03/thumbnail/20160502_SummerShot_Streaming_200_200_FR.jpg" alt="Summer Shots : les huit vainqueurs de jeudi"></a>
              </div>
              <div class="content">
                    <h1 class="news-title"><a href="/news_summer-shots-les-huit-vainqueurs-de-jeudi-27984">Summer Shots : les huit vainqueurs de jeudi</a></h1>
                    <div class="news-details">
                       <span class="date">il y a environ 5 heures.</span>
                   </div>
                   <p class="news-excerpt">Les Summer Shots ont une nouvelle fois fait pleuvoir les euros hier soir. Retour sur les derniers vainqueurs en date avant un week-end tout feu, tout flamme.</a> <a href="/news_summer-shots-les-huit-vainqueurs-de-jeudi-27984" class="read-more">Lire la suite &raquo;</a>
                   </p>
                   <div class="cb"></div>
             </div>
        </article>
            <article class="news-item">
              <div class="image">
                 <a href="/news_main-event-jackpot-pour-bottom-layer-27975"><img src="https://static.winamax.fr/img/editorial/2016/06/02/thumbnail/Main_Event_vignette_news.jpg" alt="Main Event : jackpot pour Bottom layer"></a>
              </div>
              <div class="content">
                    <h1 class="news-title"><a href="/news_main-event-jackpot-pour-bottom-layer-27975">Main Event : jackpot pour Bottom layer</a></h1>
                    <div class="news-details">
                       <span class="date">hier</span>
                   </div>
                   <p class="news-excerpt">À quelques jours du Main Event des Summer Shots, certains s'en sont mis plein les poches mardi soir sur le plus gros de nos tournois hebdomadaires. Regardons cela de plus près.</a> <a href="/news_main-event-jackpot-pour-bottom-layer-27975" class="read-more">Lire la suite &raquo;</a>
                   </p>
                   <div class="cb"></div>
             </div>
        </article>
            <article class="news-item">
              <div class="image">
                 <a href="/news_summer-shots-kitbul-on-fire-et-un-double-27974"><img src="https://static.winamax.fr/img/editorial/2016/06/02/thumbnail/20160502_SummerShot_Streaming_200_200_FR.jpg" alt="Summer Shots : Kitbul on fire et un doubl&eacute;"></a>
              </div>
              <div class="content">
                    <h1 class="news-title"><a href="/news_summer-shots-kitbul-on-fire-et-un-double-27974">Summer Shots : Kitbul on fire et un doubl&eacute;</a></h1>
                    <div class="news-details">
                       <span class="date">hier</span>
                   </div>
                   <p class="news-excerpt">Sept nouveaux tournois ont trouvé preneur ce mercredi soir. Retour sur cette quatrième soirée de festival.</a> <a href="/news_summer-shots-kitbul-on-fire-et-un-double-27974" class="read-more">Lire la suite &raquo;</a>
                   </p>
                   <div class="cb"></div>
             </div>
        </article>
    </div>  <a href="/toutes-les-actus" class="button secondary-button"><i class="icon-list-alt"></i>Lire toute l'actualité</a></section></div>        <section class="right-column"><aside id="latest-videos" class="sidebar-item">
  <h2 class="alt">En vidéo</h2>
  <div class="latest-videos list">
        <article class="video video-popup">
            <div class="thumbnail video-thumbnail">
                <a class="open-video" title="Golden Barre OM-REIMS" target="_blank" href="https://www.dailymotion.com/embed/video/x4boy8c?autoplay=1"><img src="https://s1.dmcdn.net/XuF9B/x240-vb7.jpg" alt=""></a>
            </div>
            <div class="text">
                <h1 class="name"><a class="open-video" href="https://www.dailymotion.com/embed/video/x4boy8c?autoplay=1">Golden Barre OM-REIMS</a></h1>
                <p>il y a 8 jours.</p>
            </div>
        </article>
        <article class="video video-popup">
            <div class="thumbnail video-thumbnail">
                <a class="open-video" title="OGC Nice Poker Live 1" target="_blank" href="https://www.dailymotion.com/embed/video/x4b0lzh?autoplay=1"><img src="https://s1.dmcdn.net/W9YkS/x240-Utx.jpg" alt=""></a>
            </div>
            <div class="text">
                <h1 class="name"><a class="open-video" href="https://www.dailymotion.com/embed/video/x4b0lzh?autoplay=1">OGC Nice Poker Live 1</a></h1>
                <p>il y a 17 jours.</p>
            </div>
        </article>
        <article class="video video-popup">
            <div class="thumbnail video-thumbnail">
                <a class="open-video" title="Winamax Live Stream - Florian Decamps (09/05/16 - Partie 2)" target="_blank" href="https://www.dailymotion.com/embed/video/x49nedp?autoplay=1"><img src="https://s1.dmcdn.net/XBReu/x240-Yp0.jpg" alt=""></a>
            </div>
            <div class="text">
                <h1 class="name"><a class="open-video" href="https://www.dailymotion.com/embed/video/x49nedp?autoplay=1">Winamax Live Stream - Florian Decamps (09/05/16 - Partie 2)</a></h1>
                <p>il y a 23 jours.</p>
            </div>
        </article>
        <article class="video video-popup">
            <div class="thumbnail video-thumbnail">
                <a class="open-video" title="Winamax Live Stream - Florian Decamps (09/05/16 - Partie 1)" target="_blank" href="https://www.dailymotion.com/embed/video/x49nd5m?autoplay=1"><img src="https://s1.dmcdn.net/XBJtw/x240-Tq9.jpg" alt=""></a>
            </div>
            <div class="text">
                <h1 class="name"><a class="open-video" href="https://www.dailymotion.com/embed/video/x49nd5m?autoplay=1">Winamax Live Stream - Florian Decamps (09/05/16 - Partie 1)</a></h1>
                <p>il y a 23 jours.</p>
            </div>
        </article>
    </div>
    <a href="/videos" class="button secondary-button"><i class="icon-facetime-video"></i>Plus de vidéos</a>
</aside>
<aside class="sidebar-thumbnail">
    <a  href="/nba-finals"><img src="https://static.winamax.fr/img/block/right_column_promo/201605_TheFinals_Vignette_Promo_340_198_fr.jpg" alt="NBA Finals"></a>
</aside>
<aside class="sidebar-thumbnail">
    <a  href="/bonus-jackpot-summer-shots"><img src="https://static.winamax.fr/img/block/right_column_promo/20160502_SummerShot_vignette_Bonus_promo_home.jpg" alt="Jackpot Summer Shot"></a>
</aside>
        </section>        </div></section> <section id="offre" class="padded">
        <div class="container">
            <h1 class="section-title">Entrez dans la <span>compétition</span></h1>
            <div class="next-freeroll">
                <img src="https://static.winamax.fr/img/tournaments/v2/1.png" alt="Freeroll">
                <div>
                    <h3>Tournois gratuits</h3>
                    <p><strong>9000€ de gains</strong> par semaine</p>
                </div>
                <div class="countdown-container">
                    <span>Prochain Freeroll dans </span>
                    <div class="countdown">
                        <span class="d">15</span> : <span class="h">26</span> : <span class="s">10</span>
                    </div>
                </div>
                <a href="/landing/landing_leads.php?ldg=freerolls" class="button primary-button">Inscription gratuite</a>
            </div>
            <div class="grid">
                <ul>
                    <li class="tournoi"><a href="/les-tournois_tous-les-tournois_freerolls"><img src="https://static.winamax.fr/img/home/bottom_tournamnents/Freeroll_tournois_vignette_2.png" alt="Tournois Freeroll"></a></li>
                    <li class="tournoi"><a href="/revolution"><img src="https://static.winamax.fr/img/home/bottom_tournamnents/Revolution_tournois_vignette.png" alt="Révolution"></a></li>
                    <li class="tournoi"><a href="/les-tournois_tous-les-tournois_grand-tournament"><img src="https://static.winamax.fr/img/home/bottom_tournamnents/GrandTournament_tournois_vignette_fr.png" alt="Grand Tournament"></a></li>
                    <li class="tournoi"><a href="/les-tournois_tous-les-tournois_main-event"><img src="https://static.winamax.fr/img/home/bottom_tournamnents/MainEvent_vignette.png" alt="Main Event"></a></li>
                    <li class="tournoi"><a href="/les-tournois_tous-les-tournois_minirolls"><img src="https://static.winamax.fr/img/home/bottom_tournamnents/MiniRoll_tournois_vignette.png" alt="Miniroll"></a></li>
                    <li class="tournoi"><a href="/la-fievre"><img src="https://static.winamax.fr/img/home/bottom_tournamnents/LaFievre_tournois_vignette.png" alt="La Fièvre"></a></li>
                    <li class="tournoi"><a href="/tournois_deepstacks"><img src="https://static.winamax.fr/img/home/bottom_tournamnents/Deepstack_tournois_vignette_fr.png" alt="Tournois Deepstack"></a></li>
                    <li class="tournoi"><a href="/les-tournois_tous-les-tournois_tournois-turbo"><img src="https://static.winamax.fr/img/home/bottom_tournamnents/Turbo_tournois_vignette_fr.png" alt="Tournois Turbo"></a></li>
                </ul>
                <a href="/les-tournois_tous-les-tournois" class="button secondary-button"><i class="icon-trophy"></i>Tous les tournois Winamax</a>

            </div>
        </div>
 </section>
  <section class="alt padded">
    <div class="container bottompadded">
      <div id="mobile-apps">
        <img class="devices" src="https://static.winamax.fr/img/home/devices.png" alt="iPad, iPhone">
        <h1 class="section-title">Jouez au Poker <span>n'importe où</span></h1>
        <p>Winamax est disponible gratuitement pour <strong>iPhone</strong>, <strong>iPad</strong>, <strong>Android</strong> et <strong>Windows Phone</strong>.</p>
        <div class="download-links">
          <a href="http://itunes.apple.com/fr/app/winamax-poker/id385720307?mt=8" class="button tertiary-button"><span class="sprite icon-apple"></span>iPhone + iPad</a>
          <a href="/android" class="button tertiary-button"><span class="sprite icon-android"></span>Android</a>
          <a href="/windows-phone" class="button tertiary-button"><span class="sprite icon-windows-phone"></span>Windows Phone</a>
        </div>
      </div>
    </div>
  </section>
    </div>
</section>
</div><footer id="main-footer">
    <div class="container">
        <section id="footer-top">
            <div id="footer-branding">
                <a href="/" id="footer-logo" title="Winamax – N°1 du Poker en ligne"><img src="https://static.winamax.fr/img/style/v2/common/logo-plat.png" alt="Winamax"></a>
                <div id="tagline">
                    <p class="style-h1">N°1 du Poker en ligne - Les meilleures cotes sur les paris sportifs *</p>
                    <p>Winamax est agréé par l'autorité de régulation des jeux en ligne</p>
                </div>
            </div>
            <div id="footer-social-links">
                <ul>
                    <li class="social-icon" id="twitter-icon"><a target="_blank" href="https://twitter.com/Winamax"><span class="sprite twitter-icon"></span></a></li>
                    <li class="social-icon" id="facebook-icon"><a target="_blank" href="https://www.facebook.com/winamax?fref=ts"><span class="sprite facebook-icon"></span></a></li>
                    <li class="social-icon" id="dailymotion-icon"><a target="_blank" href="http://www.dailymotion.com/winamax"><span class="sprite dailymotion-icon"></span></a></li>
                    <li class="social-icon" id="pinterest-icon"><a target="_blank" href="http://www.pinterest.com/winamax/ "><span class="sprite pinterest-icon"></span></a></li>
                </ul>
            </div>
            <p class="best-odds">* <a href="/meilleures-cotes">Étude réalisée par Odoxa</a><span> sur 6429 matchs (football, tennis, rugby et basketball) du 01/07/2015 au 16/02/2016, n°1 pour 73% des cotes relevées</span></p>        </section>
        <section id="footer-body">
            <nav id="footer-sitemap">
<div class="column">
    <ul>
<li><a class="parent">Jouer au Poker</a></li>
<li><a href="/jouer-au-poker">Logiciel PC, Mac, Linux</a></li>
<li><a href="/poker-mobile">Application iPhone, iPad</a></li>
<li><a href="/android">Application Android</a></li>
<li><a href="/jouer-au-poker">Jouer sans téléchargement</a></li>
<li><a href="/windows-phone">Application Windows Phone</a></li>
    </ul>
    <ul>
<li><a class="parent">Aide en ligne</a></li>
<li><a href="/poker/faq.php">F.A.Q</a></li>
<li><a href="/winamax-mode-emploi_logiciel-poker_visite-guidee">Mode d'emploi</a></li>
<li><a href="/contact">Service Client</a></li>
    </ul>
</div>
<div class="column">
    <ul>
<li><a class="parent">Rubriques Poker</a></li>
<li><a href="/toutes-les-actus">Actualité</a></li>
<li><a href="/les-tournois_tous-les-tournois">Les tournois</a></li>
<li><a href="/team-winamax_les-pros">Le Team</a></li>
<li><a href="/pokerschool">Poker School</a></li>
<li><a href="/l-espace-vip_introduction">Espace VIP</a></li>
<li><a href="/les-challenges-winamax_intro">Challenges</a></li>
    </ul>
    <ul>
<li><a class="parent">Bonus</a></li>
<li><a href="/winamax-mode-emploi_bonus_premier-depot">Premier dépôt</a></li>
<li><a href="/parrainage">Parrainer un ami</a></li>
    </ul>
</div>
<div class="column">
    <ul>
<li><a class="parent">Parier sur le sport</a></li>
<li><a href="/paris-sportifs#!/sports">À la une</a></li>
<li><a href="/paris-sportifs#!/live">En Live</a></li>
<li><a href="/paris-sportifs_challenges">Challenges</a></li>
<li><a href="/paris-sportifs_promos_presentation">Promos</a></li>
<li><a href="/grilles">Grilles</a></li>
    </ul>
    <ul>
<li><a class="parent">Partenaires</a></li>
<li><a href="https://www.wam-poker.com/">Wam-Poker</a></li>
<li><a href="/olympique-marseille">Olympique de Marseille</a></li>
<li><a href="/girondins-bordeaux">Girondins de Bordeaux</a></li>
<li><a href="/ogc-nice">OGC Nice</a></li>
<li><a href="/fc-nantes">FC Nantes</a></li>
    </ul>
</div>
<div class="column">
    <ul>
<li><a class="parent">À propos</a></li>
<li><a href="/conditions-generales">C.G.U.</a></li>
<li><a href="/a-propos-de-winamax">La société</a></li>
<li><a href="/jobs">Offres d'emploi</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/plan-du-site">Plan de site</a></li>
    </ul>
</div>
        </nav>
    </section>
        <section id="footer-bottom">
            <div id="site-lang">
                <span>Langue :</span>
                <select>
<option  selected  value="fr">Français</option>
<option  value="en">English</option>
<option  value="de">Deutsch</option>
                </select>
                <i class="icon-caret-down"></i>
            </div>
         <div id="legal-notices">
                <div id="legal-icons">
                    <div class="legal-item">
                        <a href="http://www.arjel.fr" target="_blank"><div class="sprite arjel"></div></a>
                        <p class="agrement">N°003-PO-2010-06-05<br />
                        N°003-PS-2014-05-14</p>
                    </div>
                    <div class="legal-item">
                        <div class="sprite jeu-responsable"></div>
                        <p><a href="/CLIC/PREVENTION/JEURESP_HP/www.winamax.fr/a-propos_protection-des-joueurs_non-au-jeu-dangereux-">Jeu responsable</a></p>
                    </div>
                    <div class="legal-item">
                        <div class="sprite moins-de-18"></div>
                        <p>Interdit aux mineurs</p>
                    </div>
                    <div class="legal-item evalujeu">
                        <a href="http://www.evalujeu.fr" target="_blank"><div class="sprite evalujeu"></div></a>
                        <p> <a href="http://www.evalujeu.fr" target="_blank">Test et conseils</a></p>
                    </div>
                    <div class="legal-item fft rg">
                        <div class="sprite fft-rg-logo"></div>
                    </div>
                <div id="legal-copy">
                    <p>
                        <a href="#" onclick="window.open('https://www.winamax.fr/CLIC/PREVENTION/INTVOL_HP/www.interieur.gouv.fr/A-votre-service/Mes-demarches/Loisirs/Temps-libre/Jeux-d-argent/Poker-en-ligne/Questions-Reponses/Comment-peut-on-se-faire-interdire-de-jeux')">INTERDICTION VOLONTAIRE DE JEUX:  Toute personne souhaitant faire l'objet d'une interdiction de jeux doit le faire elle-même auprès du Ministère de l'Intérieur. Cette interdiction est valable dans les casinos, les cercles de jeux et sur les sites de jeux en ligne autorisés en vertu de la loi no 2010-476 du 12 mai 2010. Elle est prononcée pour une durée de trois ans non réductible.                        </a>                    </p>
                </div>
            </div>
        </section>
    </div>
</footer>
    </div>
</div>
<script type="text/javascript" src="https://static.winamax.fr/script/v2/config.js?v=20160602-1"></script>
<script type="text/javascript">
    require.baseUrl = "https://static.winamax.fr/";
    require.urlArgs = "v=20160602-1";
</script><script type="text/javascript" src="https://static.winamax.fr/script/v2/lib/require-2.1.6.min.js?v=20160602-1"></script>
<script>
var $siteLanguage = 'FR';
var $siteLanguagePath = '';
// Load library dependencies
require(['jquery', 'swipe', 'touch', 'magnific', 'fancybox'], function() {
    // Always load scripts common to all pages
    require(['script/v2/common', 'script/v2/mobile','jquery','swipe','touch','magnific','fancybox','script/v2/gallery','script/v2/doubleslider'], function() {
        // When the document is ready, load page-specific scripts if any
        $(document).ready(function() {
            require(['script/v2/home']);
            require(['script/v2/gallery']);
        });
    });
});
</script>
<script type="text/javascript">
dataLayer = [{ 
'type': 'HOMEPAGE','category': '','sub_category': '','page': '/','step': '','landing': '0','visit_affiliate': 'SEO','visit_info1': 'GOOGLE','visit_info2': '','visit_info3': '','visit_info4': '','visit_info5': '','creation_affiliate': '','creation_info1': '','creation_info2': '','creation_info3': '','creation_info4': '','creation_info5': '','deposit_affiliate': '','deposit_info1': '','deposit_info2': '','deposit_info3': '','deposit_info4': '','deposit_info5': '','custom1': 'B','custom2': 'N','custom3': '','custom4': '','custom5': '','uu': '','at': '','fd': 'N','is_xp': '0','cookie_tier': '1','cookie_analytics': '1'}]; 
</script>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TX897J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TX897J');</script>
<!-- End Google Tag Manager -->    </body>
</html>

